*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section03{
    position: relative;
}
.wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('../image/wave.png');
    background-size: 1000px 100px;
    animation: animate 4s ease-in-out infinite;
}
.wave#wave1{
    z-index: 10;
    opacity: 1;
    background-position-x: 400px;
}
.wave2{
    position: absolute;
    bottom: -90px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('../image/wave2.png');
    background-size: 1000px 100px;
    animation: animate 4s ease-in-out infinite;
}
.section05{
    position: relative;
}
.wave3{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('../image/g-wave1.png');
    background-size: 1000px 100px;
    animation: animate 4s ease-in-out infinite; 
    z-index: 10;
}
@keyframes animate{
    0%,100%{transform: translateY(0px);}
    50%{transform: translateY(10px);}
}